@use "../helpers/" as *;

.map-popup {
  position: fixed;
  inset: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
  padding: rem(50) 0;
  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    .map-popup__content {
      opacity: 1;
    }
  }
  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(16);
  }
  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: max-content;

    @include small {
      max-width: 100%;
    }
  }
  &__inner {
    width: 100%;
    max-width: 100%;
    max-height: 85vh;
    max-height: 85dvh;
    overflow: auto;
    display: inline-block;
    border-radius: rem(20);

    @include small {
      max-width: 100%;
    }
  }
  &__content {
    padding: fluid(24, 40);
    background-color: #fff;
    border-radius: rem(13);
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    position: relative;
  }
  &__title {
    font-size: rem(20);
    color: #626262;
    margin-bottom: rem(12);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
  }
  &__form {
  }
  &__close {
    position: absolute;
    right: 0;
    top: rem(-50);

    svg {
      pointer-events: none;
      width: rem(40);
      height: rem(40);
      color: #fff;
    }
  }
}

.popup-details {
  &__item {
    display: grid;
    grid-template-columns: max-content auto;
    gap: fluid(20, 40);
    align-items: start;

    @include small {
      grid-template-columns: 1fr;
    }

    &:not(:last-child) {
      margin-bottom: fluid(20, 32);
      padding-bottom: fluid(20, 32);
      border-bottom: 1px solid #ebf0f2;
    }

    &-heading {
      display: flex;
      flex-direction: column;
      row-gap: fluid(4, 8);
      h3 {
        color: #000;
        font-size: rem(22);
        font-weight: 600;
        line-height: 1.27;
        margin-bottom: 0;
      }
      p {
        color: #000;
        font-size: rem(16);
        line-height: 1.25;
        white-space: nowrap;
        margin-bottom: 0;
      }
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: rem(16) rem(24);

      @include x-small {
        grid-template-columns: 1fr;
      }
      li {
        color: #000;
        font-size: fluid(20, 26);
        font-weight: 600;
        line-height: 1.07;
        display: flex;
        align-items: center;
        column-gap: fluid(10, 19);
        margin-bottom: 0 !important;

        &::before {
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url(%23a)%22%3E%3Cpath%20d%3D%22M17.883%2017.882s-9.088%201.136-14.004-3.76C-1.018%209.205.118.116.118.116z%22%20fill%3D%22%23026735%22%2F%3E%3Cpath%20d%3D%22M.117.117s9.088-1.136%2014.004%203.76c4.917%204.897%203.761%2014.005%203.761%2014.005z%22%20fill%3D%22%237fbc42%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h18v18H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          flex: 0 0 rem(18);
          height: rem(18);
        }
      }
    }
  }
}
