@use "../helpers" as *;

.locations {
  padding-block: fluid(60, 80);
  color: #000;

  &__container {
    max-width: rem(1180);
    margin-inline: auto;
    padding-inline: rem(20);
  }

  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: rem(40);
  }

  &__title {
    margin-bottom: rem(24);
    font-size: fluid(36, 48);
    font-weight: 500;
    line-height: 1.08333;
    letter-spacing: -0.96px;
  }

  &__countries {
    margin-bottom: rem(16);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: rem(8) fluid(8, 16);
  }

  &__country {
    font-size: fluid(18, 32);
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.64px;

    &:not(:last-child) {
      display: flex;
      align-items: center;
      column-gap: fluid(8, 16);
      &::after {
        content: "";
        width: rem(6);
        height: rem(6);
        background-color: #000;
        border-radius: 50%;
      }
    }
  }

  &__stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: rem(8) fluid(8, 16);
  }

  &__stat {
    font-size: fluid(16, 22);
    font-weight: 600;
    line-height: 1.27273;

    &:not(:last-child) {
      display: flex;
      align-items: center;
      column-gap: fluid(8, 16);
      &::after {
        content: "";
        width: rem(6);
        height: rem(6);
        background-color: #000;
        border-radius: 50%;
      }
    }
  }

  &__map {
    width: 100%;
    max-width: rem(1080);
    margin: 0 auto;
    height: rem(720);
    overflow: hidden;
    position: relative;

    @media (max-width: rem(1140)) {
      max-width: 100%;
      height: rem(600);
    }

    @include small {
      height: rem(400);
    }

    @include x-small {
      height: rem(270);
      max-width: 100%;
    }

    .gm-style {
      overflow: hidden !important;
    }

    > div {
      overflow: hidden !important;
    }
  }

  &__image {
    max-width: rem(820);
    margin-inline: auto;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
