<div id="map-popup" aria-hidden="true" class="map-popup" role="dialog" aria-labelledby="modal-1-title">
  <div tabindex="-1" data-micromodal-close class="map-popup__body">
    <div class="map-popup__inner">
      <div class="map-popup__content">
        <button class="map-popup__close" type="button" data-micromodal-close aria-label="Close Modal">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
        <h2 class="map-popup__title sr-only" id="modal-1-title">Marker details</h2>
        <div class="map-popup__details popup-details" data-js-popup-details></div>
        <button type="button" class="sr-only" aria-label="Close Modal" data-micromodal-close></button>
      </div>
    </div>
  </div>
</div>
